<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %} {% block content %}
    <div class="container page">
      <div>
        <h2>Το μενού μας</h2>
      </div>
      <div
        class="row justify-content-md-center"
        style="margin-bottom:20px; margin-top: 20px; "
      >
        <div class="col col-12">
          <img
            src="../static/images/catalogue.jpg"
            style="max-width: 100%"
            alt="Italian Trulli"
          />
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
