<!DOCTYPE html>
<html>

<body>
  {% extends "layout.html" %} {% block content %}
  <script>
    $(document).ready(function () {
      editReservation = function (id, date, hour, persons, customer_id, status) {
        $("#id").val(id);
        $("#date").val(date);
        $("#hour").val(hour);
        $("#persons").val(persons);
        $("#customer_id").val(customer_id);
        $("#status").val(status);
        $("#table_reservation").attr("href", '/reservation_tables/'+ id);
        setreadonly(true);
      }
      createReservation = function () {
        $("#id").val("");
        $("#date").val("");
        $("#hour").val("");
        $("#persons").val("");
        $("#customer_id").val("");
        $("#status").val("");
        setreadonly(false);
      }
      setreadonly=function(readonly){
        $("#id").attr('readonly', readonly); 
        $("#date").attr('readonly', readonly);
        $("#hour").attr('readonly', readonly);
        $("#persons").attr('readonly', readonly);
        $("#customer_id").attr('readonly', readonly);
      }
    }
    );
  </script>
  <div class="container page">
    <div class="Login">
      <h2>Kρατήσεις</h2>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Ημερομηνία</th>
          <th scope="col">Ώρα</th>
          <th scope="col">Αριθμός ατόμων</th>
          <th scope="col">Κατάσταση κράτησης</th>
          <th scope="col">Όνομα κράτησης</th>
          <th scope="col">Ενέργεια</th>
        </tr>
      </thead>
      <tbody>
        {% if data %}
        {% for record in data %}
        <tr>
          <td>{{ record.Date }}</td>
          <td>{{ record.Start_time }}</td>
          <td>{{ record.Persons }}</td>
          <td>{% if record.Status==1 %} Υπό έγκριση
            {% elif record.Status==2 %} Εγκεκριμένη
            {% else %} Ακυρωμένη
            {% endif %}
          </td>
          <td>{{ record.CNAME }}</td>
          <td><input type='button' class='btn btn-secondary btn-sm'
              onclick='editReservation("{{record.reservation_id}}","{{record.Date}}","{{record.Start_time}}","{{record.Persons}}","{{record.customer_id}}","{{record.Status}}")' value='Επεξεργασία'>
          </td>


        </tr>
        {% endfor %}
        {% endif %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><input type="button" value="Εισαγωγή" onclick='createReservation()' class="btn btn-primary btn-sm"></td>

        </tr>

      </tbody>
    </table>

    <h4>{{title}}</h4>
    <form action="/reservation_management" method="POST">
      <div class="message">
        {{ message }}
      </div>

      <div class="form-group">
        <label for="id">Id</label>
        <span class="error">*
          {% if form.id.errors %}
          {% for error in form.id.errors %}
          {{ error }}
          {% endfor %} {% endif %}
        </span>
        <input type="text" name="id" class="form-control" id="id" readonly value="{{form.id.value}}">
      </div>

      <div class="form-group">
        <label for="date">Ημερομηνία Κράτησης</label>
        <span class="error">*
          {% if form.date.errors %}
          {% for error in form.hour_from.errors %}
          {{ error }}
          {% endfor %} {% endif %}
        </span>
        <input type="date" id='date' name="date" class="form-control"
          value="{{form.date.value}}">
      </div>

      <div class="form-group">
        <label for="hour">Ώρα κράτησης</label>
        <span class="error">*
          {% if form.hour.errors %}
          {% for error in form.hour.errors %}
          {{ error }}
          {% endfor %} {% endif %}
        </span>
        <input type="text" name="hour" id='hour' class="form-control"
          value="{{form.hour.value}}">
      </div>

      <div class="form-group">
        <label for="persons">Αριθμός ατόμων</label>
          <span class="error">*
            {% if form.persons.errors %}
            {% for error in form.persons.errors %}
            {{ error }}
            {% endfor %} {% endif %}
          </span>
          <input type="text"  id='persons' name="persons" class="form-control" value="{{form.persons.value}}">
      </div>

      <div class="form-group">
        <label for="customer_id">Όνομα κράτησης</label>
        <span class="error">*
          {% if form.customer_id.errors %}
          {% for error in form.customer_id.errors %}
          {{ error }}
          {% endfor %} {% endif %}
        </span>
        <select name="customer_id" id='customer_id' class="form-control">
          {% if customers %}
          {% for customer in customers %}
          <option value="{{customer.customer_id}}" >{{customer.CNAME}}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>

      <div class="form-group">
        <label  for="status">Κατάσταση κράτησης</label>
          <span class="error">*
            {% if form.status.errors %}
            {% for error in form.status.errors %}
            {{ error }}
            {% endfor %} {% endif %}
          </span>
          <select id='status' name="status" class="form-control">
            <option value="1" >Υπό έγκριση</option>
            <option value="2" >Εγκεκριμένη</option>
            <option value="3" >Ακυρωμένη</option>
        </select>
      </div>


      <button type="submit" class="btn btn-primary">Υποβολή</button>
      <a href="{{ url_for('reservation_tables', reservation_id = form.id.value) }}" id='table_reservation' class="btn btn-secondary btn-sm">Διαχείριση τραπεζιών κράτησης</a>
    </form>
  </div>
  {% endblock %}
</body>

</html>